<ion-view view-title="Catálogo">
	<ion-content>
		<div class="landing-container">
			<img src="img/catalog_image.png" class="full-width-img">

			<div class="row castalia-background menu-cell-big" style="margin-top:-5px" ng-click='goToPage("app.castalia-categories", "castalia")'>
				<div class="col" style="position:relative">
					<img src="img/catalog_01.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-big" style="margin-top:1px;" ng-click='goToPage("app.trevo-categories", "trevo")'>
				<div class="col" style="position:relative">
					<img src="img/catalog_02.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-big" style="margin-top:1px;" ng-click='goToPage("app.sales-categories", "ofertas")'>
				<div class="col" style="position:relative">
					<img src="img/catalog_03.png" class="full-width-img absolute-position">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>