<ion-view view-title="Ayuda">
	<ion-content class="item-list-container center-text">
		</br>
		</br>
		</br>
		</br>
		<img src="img/castalia_logo.png" style="max-width:100%;">
		</br>
		<div class="inline-container">
          <img src="img/mail_icon.png" class="small-icon">
          <p>telemarqueting3@castalia.com.mx</p>
        </div>
        <div class="inline-container">
          <img src="img/phone_icon.png" class="small-icon">
          <p>33 3819 5371</p>
        </div>
	</ion-content>
</ion-view>