<ion-view view-title="Menú">
	<ion-content>
		<div class="landing-container">
			<img src="img/menu_image.png" class="full-width-img">

			<div class="row castalia-background menu-cell-big" style="margin-top:-5px;" ui-sref="app.catalog">
				<div class="col col-67" style="position:relative">
					<img src="img/menu_03.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Catálogo</p>
			    		</div>
			    	</div>
			    </div>
			</div>

			<div class="row castalia-background menu-cell-big" style="margin-top:1px;" ui-sref="app.shopping">
				<div class="col col-67" style="position:relative">
					<img src="img/menu_01.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto; padding-top:15px;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Compras</p>
			    		</div>
			    	</div>
			    </div>
			</div>

			<div class="row castalia-background menu-cell-big" style="margin-top:1px;" ui-sref="app.register-member">
				<div class="col col-67" style="position:relative">
					<img src="img/menu_02.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Registro socios</p>
			    		</div>
			    	</div>
			    </div>
			</div>

		</div>
	</ion-content>
</ion-view>