<ion-view view-title="Detalle">
	<ion-content class="item-list-container">
		<div class="row">
			<div class="col col-50" style="margin:auto">
				<img ng-src="http://castaliaapp.com/imagenes/{{productDetails.imagen}}" class="full-width-img">
			</div>
			<div class="col col-50" style="margin:auto">
				<div class="vertical-items" style="align-items:initial">
					<h3>{{productDetails.sku}}</h2>
					<p>{{productDetails.precio}}</p>
					<p>{{productDetails.descripcion}}</p>
					<br>
					
			        <button type="submit" class="button button-margin button-block button-assertive button-round" ng-click="openBrowser()">Comprar</button>
			  
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>