<ion-view view-title="Perfil">
	<ion-content>
		<div class="form-container register-container">
    		<img src="img/castalia_logo.png" style="max-width:100%;">
    		</br>
    		</br>
			<input type="text" placeholder="Nombre" ng-model="userData.nombre">
			<input type="text" placeholder="Domicilio" ng-model="userData.domicilio">
			<input type="text" placeholder="Código Postal" ng-model="userData.cp">
			<input type="number" placeholder="Número telefónico" ng-model="userData.telefono">
			<input type="email" placeholder="Email" ng-model="userData.email">
	        </div>
		</div>
	</ion-content>
</ion-view>