<ion-view view-title="Ofertas">
	<ion-content>
		<div class="landing-container">
			<img src="img/products_image.png" style="width:100%">

			<div class="row castalia-background menu-cell-small" style="margin-top:-5px" ng-click='goToPage("app.sales-dame")'>
				<div class="col col-75" style="position:relative">
					<img src="img/product_01.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Dama</p>
			    		</div>
			    	</div>
			    </div>
			</div>

			<div class="row castalia-background menu-cell-small" style="margin-top:1px;" ng-click='goToPage("app.product-list", "caballero", "caballero")'>				
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Caballero</p>
			    		</div>
			    	</div>
			    </div>
			    <div class="col col-75" style="position:relative">
					<img src="img/product_02.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-small" style="margin-top:1px;" ng-click='goToPage("app.product-list", "niño", "niño")'>
				<div class="col col-75" style="position:relative">
					<img src="img/product_03.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Niño</p>
			    		</div>
			    	</div>
			    </div>
			</div>

			<div class="row castalia-background menu-cell-small" style="margin-top:1px;" ng-click='goToPage("app.product-list", "niña", "niña")'>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Niñas</p>
			    		</div>
			    	</div>
			    </div>
			    <div class="col col-75" style="position:relative">
					<img src="img/product_04.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-small" style="margin-top:1px;" ng-click='goToPage("app.product-list", "joven", "joven")'>
				<div class="col col-75" style="position:relative">
					<img src="img/product_05.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Joven</p>
			    		</div>
			    	</div>
			    </div>
			</div>

			<div class="row castalia-background menu-cell-small" style="margin-top:1px;" ng-click='goToPage("app.product-list", "ropa", "ropa")'>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Ropa</p>
			    		</div>
			    	</div>
			    </div>
			    <div class="col col-75" style="position:relative">
					<img src="img/product_06.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-small" style="margin-top:1px;" ng-click='goToPage("app.product-list", "accesorios", "accesorios")'>
				<div class="col col-75" style="position:relative">
					<img src="img/product_07.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p style="font-size:14px;">Accesorios</p>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</ion-content>
</ion-view>