<ion-view view-title="Compras">
	<ion-content>
		<div class="landing-container">
			<img src="img/compras_image.png" class="full-width-img">

			<div class="row castalia-background menu-cell-big" style="margin-top:-5px" ng-click="openCastalia()">
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Pedidos Castalia</p>
			    		</div>
			    	</div>
			    </div>
			    <div class="col col-67" style="position:relative">
					<img src="img/compras_01.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-big" style="margin-top:1px;" ng-click="openSales()">
				<div class="col col-67" style="position:relative">
					<img src="img/compras_02.png" class="full-width-img absolute-position">
				</div>
			    <div class="col" style="margin:auto;">
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<img src="img/plus_button.png" class="plus-button">
			    		</div>
			    		
			    	</div>
			    	<div class="row">
			    		<div class="col col-center center-text">
			    			<p>Ofertas</p>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</ion-content>
</ion-view>