<ion-view view-title="Trevo">
	<ion-content>
		<div class="landing-container">
			<img src="img/catalog_image.png" class="full-width-img">

			<div class="row castalia-background menu-cell-big" style="margin-top:-5px" ng-click='goToPage("app.product-list", "ropa", "ropa")'>
				<div class="col" style="position:relative">
					<img src="img/trevo_01.png" class="full-width-img absolute-position">
				</div>
			</div>

			<div class="row castalia-background menu-cell-big" style="margin-top:1px;" ng-click='goToPage("app.product-list", "accesorios", "accesorios")'>
				<div class="col" style="position:relative">
					<img src="img/trevo_02.png" class="full-width-img absolute-position">
				</div>
			</div>
			<div class="row castalia-background menu-cell-big">
				<div class="col" style="position:relative">
					<img src="img/boton_rosa.png" class="full-width-img absolute-position">
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>